<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blog</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">홈</a>
        </li>
        <li>
            <a href="/login-form">로그인</a>
        </li>
        <li>
            <a href="/join-form">회원가입</a>
        </li>
        <li>
            <a href="/board/save-form">글쓰기</a>
        </li>
        <li>
            <a href="/logout">로그아웃</a>
        </li>
    </ul>
</nav>
<hr>