{{> layout/header}}
<section>
    <article>
        <form action="/board/{{model.id}}/delete" method="post">
            <button type="submit">삭제</button>
        </form>

        <button>
            <a href="/board/{{model.id}}/update">수정하러가기</a>
        </button>

        <div>
            번호 : {{model.id}}<br>
            제목 : {{model.title}} <br>
            내용 : {{model.content}} <br>
            작성일 :{{model.createdAt}}
        </div>
    </article>
</section>
<section>
    <h2>댓글</h2>
    <hr>
    {{#model.replies}}
<!--        {{.}}-->
        <div>번호 : {{id}}, 내용 : {{comment}}, 작성자 : {{username}}  <button>삭제</button></div>
    {{/model.replies}}

</section>
</body>
</html>