{{> layout/header}}
<section>
    <article>
       <!-- title = 제목6&content=내용6   &ndash;&gt; application/x-www-form-urlencoded
        key값은 input 태그의 name 값
        value값은 input태그에 사용자가 입력하는 값-->
        <form method="POST" action="/board/save" enctype="application/x-www-form-urlencoded">
            <input type="text" name = "title" placeholder = "제목"/><br>
            <input type="text" name = "content" placeholder = "내용"/><br>
            <button type="submit">글쓰기</button>
        </form>
    </article>
</section>

</body>
</html>